@model ComputerShopSystem.ViewModel.DeviceViewModel
@{
    ViewBag.Title = "DeviceForm";
}

<h2>DeviceForm</h2>

@using (Html.BeginForm("ProcessDevice", "Device"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Device.Name)
        @Html.TextBoxFor(m => m.Device.Name, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Device.SerialNo)
        @Html.TextBoxFor(m => m.Device.SerialNo, "", new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Device.AcquisitionDate)
        @Html.TextBoxFor(m => m.Device.AcquisitionDate, "{0: d MMM yyyy}", new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Device.CategoryId)
        @Html.DropDownListFor(m => m.Device.CategoryId, new SelectList(Model.Categories, "Id", "Name"), "", new { @class = "form-control" })
    </div>
    @Html.HiddenFor(m => m.Device.Id)
    @Html.AntiForgeryToken()
    <button class="btn btn-primary" type="submit">Next</button>
}
